.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add form {
  gap: 20px;
}

.add .add-img-upload img {
  width: 120px;
  cursor: pointer;
}

.add .add-product-name,
.add .add-product-description {
  width: max(40%, 280px);
}

.add .add-product-name input,
.add .add-product-description textarea {
    padding: 10px;
}

.add .add-category-price {
    display: flex;
    gap: 30px;
}

.add .add-category-price select,
.add .add-category-price input {
    max-width: 120px;
    padding: 10px;
}

.add .add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
