.navbar {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-between;
}

.navbar .logo {
    width: 150px;
}

.navbar .navItems {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar .navItems li {
    cursor: pointer;
}

.navbar .navItems-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar .navItems-right button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .navItems-right button:hover {
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar .cart-icon {
    position: relative;
}

.navbar .cart-icon .dot {
    position: absolute;
    background-color: tomato;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.navbar .navbar-profile {
    position: relative;
    cursor: pointer;
}

.navbar .navbar-profile .nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar .navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.navbar .nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar .nav-profile-dropdown li:hover {
    color: tomato;
}

.navbar .nav-profile-dropdown img {
    width: 20px;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar .navItems {
        gap: 20px;
        font-size: 17px;
    }

    .navbar .navItems-right {
        gap: 30px;
    }

    .navbar .navItems-right img {
        width: 22px;
    }

    .navItems-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar .navItems {
        gap: 15px;
        font-size: 16px;
    }

    .navbar .navItems-right {
        gap: 20px;
    }

    .navbar .navItems-right img {
        width: 20px;
    }

    .navbar .navItems-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar .navItems {
        display: none;
    }
}